.triangle-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25vh;
    background-color: hsl(206, 20%, 25%);
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.first-page h1 {
    color: #f5ecdc;
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    margin: 0px;
}
.h3-desc {
    margin-top: 8px;
    font-size: 20px;

    color: hsla(38, 9%, 77%, 1);
    text-align: center;
    font-weight: bold;
}

.first-page {
    background-color: hsl(206, 20%, 35%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Needed for absolute positioning */
    overflow: hidden; /* In case triangle spills outside */
}
.top-logos {
    position: absolute;
    top: 20px;
    right: 5vh;
    display: flex;
    gap: 24px;
    z-index: 10;
}
.top-logos svg {
    color: #f5ecdc;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.top-logos svg:hover {
    transform: scale(1.1);
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); /* adjust as needed */
    }
}
.bottom-arrow {
    color: #ffffff;
    border-radius: 50px;
    padding: 10px;
    background-color: hsl(203, 20%, 35%);
    position: absolute;
    bottom: 10px;
    animation: bounce 1s infinite;
    cursor: pointer;
    transition: 0.1s all;
}
.bottom-arrow:hover {
    background-color: hsl(203, 20%, 30%);
    color: hsl(0, 0%, 80%);
}
.bottom-arrow-div {
    display: flex;
    justify-content: center;
}
